body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

#app-container {
    max-width: 1200px;
    min-width: 450px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header,
footer {
    background: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0;
    background: lightgray;
}

p,
button {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#quiz-container {
    max-width: 600px;
    min-width: 300px;
    min-height: 12em;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#question-area {
    flex-grow: 1;
}

#quiz-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#quiz-buttons button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

h2 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    margin-left: 1rem;
}