/* mjööög basic viðmót, bæta kannski síðar */
body {
  margin: 0;
  font-family: sans-serif;
}

header, nav, footer {
  padding: 1rem;
  background: white;
}

main {
  max-width: 900px;
  margin: 1rem auto;
  padding: 1rem;
}

nav a {
  margin-right: 1rem;
}